{% extends "./base.html" %}
{% block title %} 首页 {% end %}

{% block css %}
{% end %}

{% block js %}
{% end %}

{% block content %}
<div class="row">
    <div class="col-md-12">
     <h4>&nbsp #&nbsp概览（尚未开发）</h4>    
    </div>
</div>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">
    紧急通知
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
    常用文件下载
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}
